@{
    ViewData["Title"] = "FAQ";
}
<h2>@ViewData["Title"].</h2>


<h3>What is this website?</h3>
<p>
    In my job, I work with Microsoft Azure a lot. I found it difficult to keep an overview of which service Azure provides, what they do, and what their status is.
    This website helps me to keep track of the platform and hopefully helps other people to do the same.
</p>

<h3>Isn't there a Microsoft website that provides the same info?</h3>
<p>
    Not really. There are lots of Microsoft websites that provide parts of the information, like:
    <ul>
        <li>
            <a href="https://azure.microsoft.com/en-us/services/" target="_blank">Azure Cloud Directory</a>
        </li>
        <li>
            <a href="https://www.microsoft.com/en-us/server-cloud/roadmap/" target="_blank">Azure Cloud Roadmap</a>
        </li>
        <li>
            <a href="https://azure.microsoft.com/en-us/services/preview/" target="_blank">Azure Preview features</a>
        </li>

        <li>
            <a href="http://oakleafblog.blogspot.nl/2012/06/adding-windows-azure-preview-features.html" target="_blank">Azure Preview features in the Azure Portal</a>
        </li>
        <li>
            <a href="https://azure.microsoft.com/en-us/blog/topics/announcements/" target="_blank">Azure Announcements</a>
        </li>
    </ul>

    Unfortunately, these websites only contain parts of the story, are incomplete or out of date. That's why I'm gathering all of that information in one place.
</p>

<h3>What info is on the website?</h3>
<p>
    I show all main Azure services and their status that is publically known.
    I only list main Azure services, not service tiers or marketplace apps or capabilities.
    
    If you feel that I missed something or that info is incorrect, please let me <a href="/Feedback">know.</a>
</p>

<h3>What do the different statuses mean?</h3>
<p>
    <ul>
        <li>
            Public Preview:
        </li>
        <li style="margin-left:25px">
            Means that the service is in public beta and can be tried out by anyone with an Azure subscription. You can often use these services at a discount as long as they are in preview.
        </li>
        <li>
            Generally Available (or GA):
        </li>

        <li style="margin-left:25px">
            Means that the service is in production and can be used by anyone with an Azure subscription.
        </li>        
    </ul>
</p>
