@{
    ViewData["Title"] = "Feedback";
}
<h2>@ViewData["Title"].</h2>

<div class="larger">
    <p>
        This site is created by me, <a href="https://www.azurebarry.com/about-barry" target="_blank">Barry Luijbregts.</a>
    </p>
    <p>
        Is there something you like me to change? Add, update, delete, feature requests, please let me know!
    </p>
    <p>
        Email me at <a href="mailto:barry@waardedoorit.nl">barry@waardedoorit.nl</a>
    </p>
    <p>
        Or send me a tweet:

        <a href="https://twitter.com/AzureBarry" class="twitter-follow-button" data-show-count="false">Follow @@AzureBarry</a>
        <script type="text/javascript">
            // <![CDATA[
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
            // ]]></script>
    </p>
</div>