@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This site tracks you as an anonimous user to provide me with statistics (like how many users, what do they search for and how long do they stay on the site).</p>
<p>The cookie on this site only tracks your behaviour on this site and doesnt do anything else.</p>
